.mail-preview {
    /* margin-left: 300px; */
    gap: 30px;
    padding: 5px;
}

.mail-preview .fullname {
    font-weight: bold;
}

.mail-preview .subject {
    font-weight: bold;
}

.mail-preview .sent-at {
    cursor: pointer;
}

.mail-preview .sent-at:hover {
    display: none;
    font-weight: bold;
}